@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=VdGEAYIAV6gnpUpoWwNkYvrugw9RuPWD1rfpbVlNTIKoyfZMIJs&skey=b4232dd08b6c468b&v=v10) format('woff2');
}
