@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMPrENLhlt8PyWVRRxtzkx&skey=45c59603efbe20e8&v=v30) format('woff2');
}
