.logo {
  height: 20px;
  margin-left: 0.5rem;
}

.footer {
  display: block;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
}

.footer a p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
