.container {
  padding: 0 2rem;
}

.avatar {
  border: medium solid #DFDFDF !important;
  border-radius: 50% !important;
}

.statBadge {
  max-height: 20px;
}

.aboutContent {
  color: #7d88b1;
  white-space: pre-line;
  text-align: left;
  line-height: 200%;
  font-family: serif;
}

.aboutContent > p {
  text-indent: 1em;
}

.aboutContent > ul {
  list-style: none;
}

.aboutContent li > span {
  color: #445476;
}

.aboutContent li > span::after {
  content: "： ";
}

.bodies {
  box-shadow: 0 10px 30px transparent;
  transition: box-shadow 0.5s ease;
}

.bodies:hover {
  box-shadow: 0 10px 30px gray;
}

.characterImage {
  width: 100%;
  max-width: 750px;
  object-fit: contain;
}

.frame {
  border: solid 0px rgba(112, 134, 182, 0.88);
  box-shadow: 0 5px 15px transparent;
  transition: border-width 0.5s ease;
  display: flex;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 16px;
  bottom: 16px;
}

.frame:hover {
  border-width: 12px;
  box-shadow: 0 5px 15px rgba(112, 134, 182, 0.50);
}

