.container {
  padding: 0 2rem;
}

.parallaxContent {
  width: 100%;
  height: 100%;
  background: 
   linear-gradient(to top right, transparent 50%,#445476 50.1%) top right/40px 40px no-repeat,
   linear-gradient(to bottom left, transparent 50%,#546a99 50.1%) bottom left/36px 36px no-repeat;
  overflow: hidden;
}

.headContainer {
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}

.avatar {
  border: medium solid #DFDFDF !important;
  border-radius: 50% !important;
}

.statBadgeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.statBadge {
  height: 20px;
  width: auto;
  position: relative;
}

.aboutContent {
  color: #7d88b1;
  white-space: pre-line;
  text-align: left;
  line-height: 200%;
  font-family: 'Noto Sans SC', 'Noto Sans CJK SC', sans-serif;
}

.aboutContent > p {
  text-indent: 1.5em;
}

.aboutContent > ul {
  list-style: none;
}

.aboutContent li > span {
  color: #445476;
}

.aboutContent li > span::after {
  content: "： ";
}

.bodies {
  box-shadow: 0 10px 30px transparent;
  transition: box-shadow 0.5s ease;
}

.bodies:hover {
  box-shadow: 0 10px 30px gray;
}

.characterImage {
  width: 100%;
  max-width: 750px;
  object-fit: contain;
}

.frame {
  border: solid 0px rgba(112, 134, 182, 0.88);
  box-shadow: 0 5px 15px transparent;
  transition: border-width 0.5s ease;
  display: flex;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 16px;
  bottom: 16px;
}

.frame:hover {
  border-width: 12px;
  box-shadow: 0 5px 15px rgba(112, 134, 182, 0.50);
}

